<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="lecho.lib.hellocharts.samples"
    android:versionCode="12"
    android:versionName="1.5.7" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="22" />

    <!-- <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- <android:uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >

        <!-- android:theme="@android:style/Theme.Light"> -->
        <!-- android:theme="@style/AppTheme" -->


        <!-- android:theme="@android:style/Theme.Holo"> -->
        <!--<activity android:name=".SplashActivity" >-->
        <!--</activity>-->

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <!--<action android:name=".Main2Activity" />-->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Main2Activity" >
        </activity>
        <activity
            android:name=".LineChartActivity"
            android:label="@string/title_activity_line_chart" >
        </activity>
        <activity
            android:name=".ColumnChartActivity"
            android:label="@string/title_activity_column_chart" >
        </activity>
        <activity
            android:name=".PieChartActivity"
            android:label="@string/title_activity_pie_chart" >
        </activity>
        <activity
            android:name=".BubbleChartActivity"
            android:label="@string/title_activity_bubble_chart" >
        </activity>
        <activity
            android:name=".PreviewLineChartActivity"
            android:label="@string/title_activity_preview_line_chart" >
        </activity>
        <activity
            android:name=".PreviewColumnChartActivity"
            android:label="@string/title_activity_preview_column_chart" >
        </activity>
        <activity
            android:name=".ComboLineColumnChartActivity"
            android:label="@string/title_activity_combo_line_column_chart" >
        </activity>
        <activity
            android:name=".LineColumnDependencyActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/title_activity_line_column_dependency"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".GoodBadChartActivity"
            android:label="@string/title_activity_good_bad" >
        </activity>
        <activity
            android:name=".TempoChartActivity"
            android:label="@string/title_activity_tempo_chart" >
        </activity>
        <activity
            android:name=".SpeedChartActivity"
            android:label="@string/title_activity_speed_chart" >
        </activity>
        <activity
            android:name=".ViewPagerChartsActivity"
            android:label="@string/title_activity_view_pager_charts" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>

        <service android:name=".MyBluetoothService" />


    </application>

</manifest>
